* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-placeholder {
  width: 60rem;
  height: 36rem;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 20px;
  margin: 5px;
  border: rgba(255, 255, 255, 0.9) 8px solid
}

.gamePlay {
  display: flex;
  justify-content: center;
}

.easyBox {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 10px;
  margin: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211,#281b0d);
  transform: rotate(-62deg);
  position: absolute;
  bottom: 18rem;
  left: 27.3rem;
  /* visibility: hidden; hidden until chosen */
}

.hardBox1 {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 10px;
  margin: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211,#281b0d);
  position: absolute;
  top: 17.4rem;
  left: 40rem;
  /* visibility: hidden; hidden until chosen */
}

.hardBox2 {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 10px;
  margin: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211,#281b0d);
  position: absolute;
  top: 17.4rem;
  left: 52.5rem;
  /* visibility: hidden; hidden until chosen */
}

.hardBox3 {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 10px;
  margin: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211,#281b0d);
  position: absolute;
  top: 17.4rem;
  left: 65rem;
  /* visibility: hidden; hidden until chosen */
}

#easyRoach {
  width: 140px;
  height: 100px;
  background-image: url("./assets/cockroach clipart.png");
  background-size: cover;
  position: absolute;
  bottom: 18rem;
  left: 27.5rem;
}

#hardRoach1 {
  width: 140px;
  height: 100px;
  background-image: url("./assets/cockroach clipart.png");
  background-size: cover;
  position: absolute;
  top: 16rem;
  left: 40rem;
}

#hardRoach2 {
  width: 140px;
  height: 100px;
  background-image: url("./assets/cockroach clipart.png");
  background-size: cover;
  position: absolute;
  top: 16rem;
  left: 52.5rem;
}

#hardRoach3 {
  width: 140px;
  height: 100px;
  background-image: url("./assets/cockroach clipart.png");
  background-size: cover;
  position: absolute;
  top: 16rem;
  left: 65rem;
}

#modeTitle {
  display: flex;
  justify-content: center;
}

#difficultyMode {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 15px;

}

#logo {
  background-image: url("./assets/baby cockroach.png");
  width: 4rem;
  height: 4rem;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}