* {
  box-sizing: border-box;
  animation-timing-function: linear; /* no slowmotion towards the end*/
}
/* cockroaches animation */
@keyframes easyRoachAni {
  0% {
    left: 0rem;
    bottom: 0rem;
  }
  100% {
    left: 35rem;
    bottom: -18rem;
  }
}
@keyframes godRoachAni {
  0% {
    left: 0rem;
    bottom: 0rem;
  }
  100% {
    left: 15rem;
    bottom: -5rem;
  }
}
@keyframes hardRoach1Ani {
  0% {
    left: 0rem;
    top: 0rem;
  }
  100% {
    left: 0rem;
    top: 24rem;
  }
}
@keyframes hardRoach2Ani {
  0% {
    left: 52.5rem;
    top: 16rem;
  }
  100% {
    left: 52.5rem;
    top: 24rem;
  }
}

@keyframes hardRoach3Ani {
  0% {
    left: 65rem;
    top: 16rem;
  }
  100% {
    left: 65rem;
    top: 24rem;
  }
}

body {
  margin: 0;
  background-image: url("./assets/whack-a-ka-tsoa-background.png");
  background-size: cover;
  background-position: center;
  font-family: 'Cutie Pootie', cursive;
}
h1 {
  font-size: 70px;
  padding: 0;
  background-color: white;
}

h2 {
  font-size: 25px;
  padding: 0;
}

h3 {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* difficulty buttons */
.button {
  border-radius: 12px;
  padding: 0 15px;
  cursor: pointer;
  box-shadow: 0 6px rgb(103, 103, 103);
  margin: 2px;
}

.gameStatus {
  display: grid;
  grid-template-columns: repeat(10, 1fr) 5px;
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  height: 60px;
  width: 60rem;
  margin: 10px;
  margin-top: 0;
  place-items: center;
  background-color: rgba(111, 111, 111, 0.85);
  border-radius: 8px;
  border: 2px solid white;
  color: white;
}

.img-placeholder {
  width: 60rem;
  height: 38rem;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 20px;
  margin: 5px;
  border: rgb(161, 159, 159) 8px solid;
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px;
  overflow: hidden; /*prevents mouse going out of holder*/
}

.gamePlay {
  display: flex;
  justify-content: center;
}

.blur {
  filter: blur(2px);
}

.popup {
  position: fixed;
  z-index: 99;
  background-color: rgba(131, 150, 194, 0.9);
  display: none;
  width: 20rem;
  height: 25rem;
  top: 30%;
  left: 40%;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  border: 5px solid white;
}

.selectWeapon {
  width: 35rem;
  height: 20rem;
  left: 32%;
  padding: 10px;
}

.playerName {
  width: 30rem;
  height: 10rem;
  left: 35%;
  top: 40%;
  padding: 25px;
}

.enterName {
  font-size: 23px;
  padding: 5px;
}

.gameRules {
  padding: 10px;
  height: 26rem;
}

.selectDifficulty {
  width: 46rem;
  height: 16rem;
  left: 25%;
  top: 32%;
  padding: 0;
}

.selectDifficulty button {
  margin: 10px;
  margin-top: 20px;
}

.startGame {
  height: 10rem;
  width: 25rem;
  left: 38%;
  top: 40%;
  padding-top: 28px;
}

.easyBox {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 10px;
  margin: 14px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211, #281b0d);
  transform: rotate(-61.5deg);
  grid-column: 3/6;
  grid-row: 5/7;
  left: 3.5px;
  position: relative;
  z-index: 1;
  display: none;
}

.godBox {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 10px;
  margin: 14px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211, #281b0d);
  transform: rotate(-61.5deg);
  grid-column: 3/6;
  grid-row: 5/7;
  left: 3.5px;
  position: relative;
  z-index: 1;
  display: none;
}

.hardBox {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 0;
  margin-top: 32px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211, #281b0d);
  grid-column: 5/7;
  grid-row: 3/4;
  display: none;
  z-index: 1;
}

.hardBox2 {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 0;
  margin-top: 32px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211, #281b0d);
  grid-column: 7/9;
  grid-row: 3/4;
  display: none;
  z-index: 1;
}

.hardBox3 {
  width: 130px;
  height: 65px;
  border: 2px solid #281b0d;
  padding: 0;
  margin-top: 32px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#332211, #281b0d);
  grid-column: 9/10;
  grid-row: 3/4;
  display: none;
  z-index: 1;
}

#easyRoach {
  width: 100px;
  height: 75px;
  object-fit: contain;
  background-image: url("./assets/nobg.png");
  background-size: cover;
  animation-name: easyRoachAni;
  animation-duration: 0.35s;
  grid-column: 4/5;
  grid-row: 5/6;
  position: relative;
  z-index: 5;
  display: none;
}

#hardRoach {
  width: 100px;
  height: 75px;
  background-image: url("./assets/nobg.png");
  background-size: cover;
  animation-name: hardRoach1Ani;
  animation-duration: 1s;
  grid-column: 5/7;
  grid-row: 3/4;
  position: relative;
  z-index: 5;
  display: none;
  margin-top: 20px;
  margin-left: 10px;
}

#hardRoach2 {
  width: 100px;
  height: 75px;
  background-image: url("./assets/nobg.png");
  background-size: cover;
  animation-name: hardRoach1Ani;
  animation-duration: 1s;
  grid-column: 7/9;
  grid-row: 3/4;
  position: relative;
  z-index: 5;
  display: none;
  margin-top: 20px;
  margin-left: 10px;
}

#hardRoach3 {
  width: 100px;
  height: 75px;
  background-image: url("./assets/nobg.png");
  background-size: cover;
  animation-name: hardRoach1Ani;
  animation-duration: 1s;
  grid-column: 9/10;
  grid-row: 3/4;
  position: relative;
  z-index: 5;
  display: none;
  margin-top: 20px;
  margin-left: 10px;
}

#godRoach {
  width: 100px;
  height: 75px;
  object-fit: contain;
  background-image: url("./assets/nobg.png");
  background-size: cover;
  animation-name: godRoachAni;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  /* stops animation from spawning at start */
  grid-column: 4/5;
  grid-row: 5/6;
  position: relative;
  z-index: 5;
  display: none;
}

#modeTitle {
  margin: 0;
  margin-top: 10px;
  font-size: 30px;
}

#logo {
  background-image: url("./assets/logo.png");
  width: 4rem;
  height: 3.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  vertical-align: middle;
  /* background-image: url("./assets/banner.png");
  height: 6.5rem;
  width: 50rem;
  background-size: cover;
  background-position: center; */
}

#easy {
  background-image: url("./assets/easymode.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 13rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 35px;
  border-color: white;
}

#hard {
  background-image: url("./assets/hardmode.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 13rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 35px;
  border-color: white;
}

#god {
  background-image: url("./assets/easymode.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 13rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 35px;
  border-color: white;
}

#nameDisplay {
  grid-column: 1/4;
  font-size: 18px;
}

#timer {
  grid-column: 5/7;
  font-size: 18px;
}

#scoreDisplay {
  grid-column: 7/8;
  font-size: 18px;
}

#resetGame {
  grid-column: 10;
  font-size: 18px;
  height: 30px;
  width: 7rem;
  padding: 0px;
  background-color: rgb(180, 200, 206);
  color: rgb(28, 36, 100);
  cursor: pointer;
  box-shadow: 0 8px #999;
  border-radius: 10px;
  border-color: white;
  margin-right: 5px;
  margin-bottom: 2px;
}

#newspaper {
  background-image: url(./assets/newspaper.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: top;
  width: 15rem;
  height: 13rem;
  padding-top: 170px;
  color: black;
}

#slippers {
  background-image: url(./assets/flipflops.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: top;
  width: 15rem;
  height: 13rem;
  padding-top: 170px;
  color: black;
}

#weaponTitle {
  font-size: 25px;
}

#manualVideo {
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  padding: 0;
  margin: 0;
}

#popup3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#popup7 {
  width: 25rem;
  height: 15rem;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#missedMessage {
  padding: 20px;
  margin: 20px;
}

#difficultyMode {
  display: flex;
  justify-content: center;
}

#gameTitle {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: 0;
}

#giantNewspaper {
  position: absolute;
  width: 150px;
  pointer-events: none; /* doesnt block clicks */
  display: none;
  z-index: 9999;
  transform: translate(-50%,-50%); /*center of cursor*/
}

#giantSlippers {
  position: absolute;
  width: 150px;
  pointer-events: none;
  display: none;
  z-index: 9999;
  transform: translate(-50%,-50%);
}